loguru>=0.5
autoflake>=1.4
black==21.10b0
matplotlib>=3.3
pdoc3>=0.10
hydra-core>=1.1
omegaconf>=2.1
torch==1.11.0+cu113
torchvision
scikit-image>=0.18
pycocotools>=2.0
jaxlib[cuda112]>=0.1.69
jax>=0.3.7
pyyaml==6.0
typing-extensions==4.3.0
pytorchvideo==0.1.5
imageio==2.19.3
diskcache==5.4.0
pytorch-lightning==1.5.2
einops==0.4.1
kornia==0.6.6
torchmetrics==0.6.0
